api.tsfa.io {
    reverse_proxy localhost:8000

    header {
        # Security headers
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        -Server
    }

    log {
        output file /var/log/caddy/tsfa_access.log
        format json
    }
}
